@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:ital,wght@0,700;1,400&display=swap');


:root{
  --espresso: #7c4a1e;
  --latte: #ffffff;
  --sand: #e2cdb0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #faf4ec;
  color: #6b3320;
}

.barra-nav {
  background-color: #3d1f0d;
  padding: 16px;
}

.marca {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  color: #dfc09a;
  text-decoration: none;
}

.marca:hover {
  color: #f2e6d5;
}

.enlace-nav {
  color: #c8956a;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 11px;
}

.enlace-nav:hover {
  color: #dfc09a;
}

.icono-menu {
  color: #c8956a;
  font-size: 22px;
}

footer {
  background-color: #3d1f0d;
  color: #c8956a;
  text-align: center;
  padding: 20px;
  margin-top: 48px;
  font-size: 13px;
}